@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0px;
  font-family: "Quicksand";
  color: #333;
}
.App {
  padding: 0px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.App h1 {
  color: #ec3169;
}
.App .links {
  margin-left: auto;
}
.App a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.App a:hover {
  color: #f1356d;
}
.content .Home{
  max-width: 600px;
  margin-left: 0px;
  margin-top: 100px;
  padding: 40px;
}