@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0px;
  font-family: "Quicksand";
  color: #333;
}

.navcontainer{
  padding: 10px;
  max-width: 800px;
  margin: 20px auto;
  border-bottom: 1px solid #f7f3f3;
}
.navcontainer h1{
  margin: 10px;
  color: red;
}
.navcontainer .links{
  margin-left: auto;
}
.navcontainer a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navcontainer a:hover{
  color: rgb(236, 15, 15);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.bloglist{
  max-width: 800px;
  margin: 0 auto;
}
.blog-preview{
  padding: 25px ;
  margin: 20px 0;
  border: 1px solid #eee;
}
.blog-preview:hover{
  box-shadow:
  0.7px 0.7px 5.3px rgba(0, 0, 0, 0.028),
  2.2px 2.2px 17.9px rgba(0, 0, 0, 0.042),
  10px 10px 80px rgba(0, 0, 0, 0.07)
;
}
.blog-preview h2{
  padding: 0px 16px;
  font-size: 20px;
  color: red;
  margin-bottom: 8px;
}
.blog-preview p{
  padding: 0px 16px;
  font-weight: 100px;
}
.bloglist h2{
  padding: 0px 16px;
}

.content {
  max-width: 750px;
  margin: 40px auto;
  padding: 20px;
}

.blog-details h2{
  font-size: 30px;
  color: red;
  margin-bottom: 20px;
}
.blog-details p{
  color: black;
  font-weight: 400;
}
.blog-details div{
  margin: 20px 0;
}
.blog-details button{
  border: 0 ;
  padding: 5px;
  background: coral ;
  color: black; 
  cursor :pointer;
  border-radius: 8px;
}
.create {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.create label{
  text-align: left;
  display: block;
}
.create h2{
  font-size: 20px;
  color: coral;
  margin-bottom: 20px;
}
.create input{
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create textarea{
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create select  {
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button{
  border: 0 ;
  padding: 5px;
  background: coral ;
  color: black; 
  cursor :pointer;
  border-radius: 8px;
}